.card {
    width: 100%;
    height: 4.5rem;

    background: var(--gray-400);
    color: var(--gray-200);;
  
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card input {
    margin-left: 1rem;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}
  
.card p {
    margin-left: 1rem;
}

.card button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

.card button img {
    width: 2rem;
    height: 2rem;
}

.elementoum {
    flex-direction: row;
}