body {
    background: var(--gray-600);
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 12rem;
    background: var(--gray-700);

    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -1.688rem;
}

.form input {
    width: 39.875rem;
    height: 3.375rem;

    background: var(--gray-500);
    color: var(--gray-100);
    border-radius: 8px;
    border: none;
    font-size: 1rem;

    text-align: center;
}

.form button {
    width: 5.625rem;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    background: var(--bluedark);
    color: var(--white);

    font-weight: bolder;
    border: none;
    cursor: pointer;

    transition: 200ms;
}

.form button img {
    margin-left: 0.5rem;
}

.form button:hover{
    background: var(--blue);
}

.aa {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.hr {
    width: 46rem;
    height: 0.1rem;
    border-radius: 8px;
    background: var(--gray-400);
}

.tasksContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.tasks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 46rem;
}

.headerCab {
    display: flex;
    justify-content: center;
}

.todoStats {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    width: 46rem;
}

.todoStatsCriadas {
    font-weight: bold;
    color: var(--blue);
}

.todoStatsConc  {
    font-weight: bold;
    color: var(--purple);
}

.todoNoTasks {
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    color: var(--gray-300);
}

.todoNoTasks div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.todoNoTasks strong {
    display: flex;
    justify-content: center;
}

.todoNoTasks small {
    display: flex;
    justify-content: center;
}
